@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@350;400;600&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

// Update Bulma's global variables
$family-sans-serif: 'Open Sans', sans-serif;
$family-monospace: 'IBM Plex Mono', monospace;
$blue: #03c;