// Here's where we override defaults in Bulma!
// Note that this is where our font imports come from too.
@import "bulma-overrides.scss";

// Import bulma styles
@import "~bulma";

// Import buefy styles
@import "~buefy/src/scss/buefy";

// And a few things we use on multiple screens.
b, strong {
  font-weight: 600; // Lighten it up a bit.
}

// Beufy thing, it's too bold
label.label {
  font-weight: 600;
}

// Narrow the default content blocks, in general.
.content {
  max-width: 50em;
}

.content-wrapper {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.content-placeholder {
  border: 4px dotted #aaa;
  margin: 1.25rem 0;
  padding: 1.25rem;
}